<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/js/account.js"></script>

<div class="row">
    <div class="col-sm-6">
        <h2>Kontohantering</h2>

        <div class="form-group">
            <input id="account-number" class="form-control" placeholder="Kontonummer.." type="number" />
        </div>
        <div class="form-group">
            <input id="account-sum" class="form-control" placeholder="Summa..." type="number" />
        </div>
        <div class="input-group-lg">
            <input class="btn btn-primary" value="Uttag" id="withdrawal" type="button" />
            <input class="btn btn-primary" value="Insättning" id="deposit" type="button" />
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="margin-top:3%">
            <div class="account-details">

            </div>
        </div>
    </div>
